﻿@namespace Inkomensloket.ComponentLibrary
<h3>Hulp nodig?</h3>
<p>Bel 14 030</p>
<p>E-mail geldhulp@utrecht.nl</p>
<NldsButton Type="Blazor.NLDesignSystem.ButtonType.Link">Hoe werkt 14 030</NldsButton>